flask
flask-socketio
flask-sqlalchemy
flask-cors
python-dotenv
sqlalchemy
werkzeug
pinecone-client
openai
google-cloud-texttospeech
deepgram-sdk
psycopg2-binary
python-engineio
python-socketio
cryptography
eventlet
gunicorn